Repository toolsascode/bfm: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-imports, go-unit-tests, go-cyclo, golangci-lint, typescript-check, generate-openapi, validate-openapi

Path conditions:
  go-vet: any of: ^api/.*\.go$ and \.go$
  go-imports: any of: ^api/.*\.go$ and \.go$
  go-unit-tests: any of: ^api/.*\.go$ and \.go$
  go-cyclo: any of: ^api/.*\.go$ and \.go$
  golangci-lint: any of: ^api/.*\.go$ and \.go$
  typescript-check: any of: ^ffm/.*\.(ts|tsx)$
  generate-openapi: any of: ^api/(internal/api/http/.*\.go|cmd/server/main\.go)$
  validate-openapi: any of: ^api/internal/api/http/openapi\.yaml$

fix: package versions
  api/go.mod
  api/go.sum
  ffm/package-lock.json
  ffm/package.json
  ffm/postcss.config.cjs
Due: none

feat: Template Variables in Migrations
  api/internal/executor/executor.go
Due: go-vet, go-imports, go-unit-tests, go-cyclo, golangci-lint

fix: frontend layout and dependences
  ffm/postcss.config.cjs
  ffm/src/index.css
Due: none

feat: Add Pgpool
  api/go.mod
  api/go.sum
  api/internal/backends/postgresql/backend.go
  api/internal/state/postgresql/tracker.go
Due: go-vet, go-imports, go-unit-tests, go-cyclo, golangci-lint

chore: Adjusting layout
  examples/sfm/postgresql/core/20250116000000_create_user_authentication_and_authorization_system_with_role_based_access_control.down.sql
  examples/sfm/postgresql/core/20250116000000_create_user_authentication_and_authorization_system_with_role_based_access_control.go
  examples/sfm/postgresql/core/20250116000000_create_user_authentication_and_authorization_system_with_role_based_access_control.up.sql
  ffm/src/components/Dashboard.tsx
  ffm/src/components/Layout.tsx
  ffm/src/components/MigrationDetail.tsx
  ffm/src/components/MigrationList.tsx
  ffm/src/index.css
Due: typescript-check

chore: update openapi spec and pre-commit config
  Makefile
  README.md
  api/cmd/server/main.go
  api/docs/docs.go
  api/docs/swagger.json
  api/docs/swagger.yaml
  api/internal/api/http/dto/migrations.go
  api/internal/api/http/handler.go
  api/internal/api/http/handler_test.go
  api/internal/api/protobuf/handler.go
  api/internal/api/protobuf/migration.pb.go
  api/internal/api/protobuf/migration.proto
  api/internal/api/protobuf/migration_grpc.pb.go
  api/internal/backends/postgresql/backend.go
  api/internal/backends/postgresql/validator.go
  api/internal/backends/postgresql/validator_test.go
  api/internal/executor/executor.go
  api/internal/executor/executor_cross_connection_test.go
  api/internal/executor/executor_test.go
  api/internal/registry/dependency_resolver_test.go
  api/internal/state/interface.go
  api/internal/state/postgresql/tracker.go
  docs/DEVELOPMENT.md
  docs/EXECUTING_MIGRATIONS.md
  docs/FEATURE_IS_MIGRATION_APPLIED_ENHANCED.md
  ffm/README.md
  ffm/src/components/MigrationDetail.tsx
  ffm/src/components/MigrationList.tsx
  ffm/src/services/api.ts
  ffm/src/types/api.ts
  shared/start.sh
Due: go-vet, go-imports, go-unit-tests, go-cyclo, golangci-lint, typescript-check, generate-openapi

fix: Packages
  api/go.mod
  api/go.sum
  ffm/package-lock.json
  ffm/package.json
Due: none

chore: add auto-migrate, auto resolve dependences
  .pre-commit-config.yaml
  README.md
  api/cmd/server/auto_migrate.go
  api/cmd/server/auto_migrate_test.go
  api/cmd/server/main.go
  api/internal/api/http/dto/migrations.go
  api/internal/api/http/handler.go
  api/internal/api/http/handler_test.go
  api/internal/api/protobuf/handler.go
  api/internal/backends/postgresql/validator.go
  api/internal/backends/postgresql/validator_test.go
  api/internal/executor/executor.go
  api/internal/executor/executor_cross_connection_test.go
  api/internal/executor/executor_test.go
  api/internal/registry/dependency_resolver_test.go
  api/internal/registry/interface.go
  api/internal/registry/registry_test.go
  api/internal/state/errors.go
  api/internal/state/history_status.go
  api/internal/state/interface.go
  api/internal/state/postgresql/advisory_lock.go
  api/internal/state/postgresql/tracker.go
  deploy/docker-compose.dev.yml
  deploy/docker-compose.standalone.yml
  docs/DEPLOYMENT.md
  examples/sfm/postgresql/core/20260101120000_core_schema_example_settings.down.sql
  examples/sfm/postgresql/core/20260101120000_core_schema_example_settings.go
  examples/sfm/postgresql/core/20260101120000_core_schema_example_settings.up.sql
  examples/sfm/postgresql/core/20260101120100_core_schema_example_audit.down.sql
  examples/sfm/postgresql/core/20260101120100_core_schema_example_audit.go
  examples/sfm/postgresql/core/20260101120100_core_schema_example_audit.up.sql
  ffm/package-lock.json
  ffm/package.json
  ffm/postcss.config.cjs
  ffm/src/components/Dashboard.tsx
  ffm/src/components/MigrationDetail.tsx
  ffm/src/components/MigrationList.tsx
  ffm/src/services/api.ts
  ffm/src/types/api.ts
  ffm/vite.config.ts
Due: go-vet, go-imports, go-unit-tests, go-cyclo, golangci-lint, typescript-check, generate-openapi

chore: update packege-lock.json and runtime config
  ffm/package-lock.json
Due: none

feat: Executing the migrations via Tags
  Makefile
  README.md
  api/.air.toml
  api/cmd/cli/main.go
  api/docs/docs.go
  api/docs/swagger.json
  api/docs/swagger.yaml
  api/internal/api/http/dto/migrations.go
  api/internal/api/http/handler.go
  api/internal/api/http/handler_test.go
  api/internal/api/protobuf/handler.go
  api/internal/api/protobuf/migration.pb.go
  api/internal/api/protobuf/migration.proto
  api/internal/backends/interface.go
  api/internal/executor/executor.go
  api/internal/executor/loader.go
  api/internal/queue/interface.go
  api/internal/registry/interface.go
  api/internal/registry/tags.go
  api/internal/registry/tags_test.go
  api/internal/worker/worker.go
  api/migrations/template.go
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/EXECUTING_MIGRATIONS.md
  docs/MIGRATION.md
  docs/TAGS.md
  examples/sfm/postgresql/core/20260509120000_core_schema_tagged_example.down.sql
  examples/sfm/postgresql/core/20260509120000_core_schema_tagged_example.go
  examples/sfm/postgresql/core/20260509120000_core_schema_tagged_example.up.sql
  ffm/package-lock.json
  ffm/package.json
  ffm/src/components/MigrationDetail.tsx
  ffm/src/components/MigrationList.tsx
  ffm/src/services/api.ts
  ffm/src/services/toast.ts
  ffm/src/types/api.ts
  ffm/src/utils/migrationTags.ts
Due: go-vet, go-imports, go-unit-tests, go-cyclo, golangci-lint, typescript-check, generate-openapi

feat: Executing the migrations via Tags
  .gitignore
  ffm/public/runtime-config.js
Due: none

chore: update openapi spec and pre-commit config
  .github/workflows/lint.yml
  .github/workflows/test-cli.yml
  docker/Dockerfile
Due: none
